<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Định dang log -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- Đưa log ra file nếu quá tải thì xóa-->
        <RollingFile name="FileAppender"
                     fileName="${APP_LOG_ROOT}/application.log"
                     filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <!-- Đánh dấu log này của ứng dụng Spring boot  -->
        <Socket name="LogstashSocket" host="logstash" port="5044">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="type" value="spring-boot" />
                <KeyValuePair key="application" value="service_be" />
            </JsonLayout>
        </Socket>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Root>

        <!-- Application-specific loggers -->
        <Logger name="com.ducbao" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Logger>

        <!-- Spring Framework loggers -->
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Logger>

        <!-- MongoDB loggers -->
        <Logger name="org.mongodb.driver" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Logger>

        <!-- Elasticsearch loggers -->
        <Logger name="org.elasticsearch" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Logger>

        <!-- Redis loggers -->
        <Logger name="org.springframework.data.redis" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="LogstashSocket" />
        </Logger>
    </Loggers>
</Configuration>